.container{
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.intro{
  border-bottom: 5px double rgb(255, 64, 0);
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #ddd;
  font-weight: bold;
  margin: 20px;
}

.button:hover {
  background-color: #49b07d;
}

.button::placeholder {
  color: rgba(255, 255, 255, 0.699);
  opacity: 1;
}

.link {
  text-decoration: underline;
  color: #ddd;
  margin-left: 10px;
}

.or {
  color: #ddd;
}
